<li>
  <div class="title"> <%= link_to topic.title.upcase, topic %></div>
  <span class="region"><%= topic.region %></span>
  <span class="school_type"><%= topic.school_type %></span>
  <span class="school_name"><%= topic.school_name %></span>
  <span class="content"><%= topic.content %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(topic.created_at) %> ago by: &nbsp;
  </span>
  <span class="users"><%= link_to topic.user.name, topic.user %></span>
</li>